body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.game-container {
  position: relative;
  margin: 0 auto;
  outline: 1px solid #fff;

  /**transform: scale(3) translateY(50%);*/
}

.pixel-art {
  image-rendering: pixelated;
}
